{% extends "base.html" %}

{% block head %}
    <title>Покупки</title>
{% endblock %}

{% block header %}
    <h1 align="center" class="display-4"> ПОКУПКИ </h1>
{% endblock %}

{% block nav %}
    <a href="{% url 'home' %}"><button class="btn btn-secondary"> Главная </button></a>
    <a href="{% url 'profile' request.user.id %}"><button class="btn btn-info"> {{ request.user }} </button></a>
{% endblock %}

{% block content %}
    <div align="center">
        {% for purchase in object_list %}
            {% if purchase.user == request.user %}
                <hr>
                {% if purchase.status and not purchase.return_status %}
                    <div style="background-color: yellow">
                {% elif purchase.status and purchase.return_status %}
                    <div style="background-color: red">
                {% endif %}
                        {{ purchase }}
                        count: {{ purchase.count }} <br>
                        {{ purchase.date }}<br>
                        {% if not purchase.status and not purchase.return_status %}
                            <form method="post" action="{% url "return" purchase.pk %}">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" value="return">Вернуть</button>
                            </form><br>
                        {% elif purchase.return_status %}
                        return not accept
                    {% else %}
                        return is already send
                    {% endif %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% if message.tags == "info" and purchase.return_status %}
                                    <li style= "color:yellow;">
                                        {{ message }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}